
.box{
    border: 3px white;
    box-shadow: 2px 3px 4px 2px ;
    width: 360px;
    padding: 15px;
    border-radius: 30px;
    background-color: rgb(244, 239, 239);
}
button{
    box-shadow: 2px 2px 2px 2px black;
    margin: 4px;
}
#result{
    background-color: rgb(178, 212, 228);
}
body{
    background-image: url('https://img.freepik.com/free-photo/flat-lay-office-stationery-with-copy-space-scissors_23-2148524831.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
@media screen and (max-width:400px){
    .box{
        margin-left: 40px;
        
    }
    button{
        width: 10px;
    }
    body{
        background-image: url('https://img.freepik.com/free-photo/flat-lay-office-stationery-with-copy-space-scissors_23-2148524831.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        height: 600px;
    }
   
}